$promo-brd-color: #1D2631;
$main-brd-color: #F2F2F2;
$head-price-brd-color: #283645;
$font-color-contrast: #ffffff;
$font-color-main: #283645;
$font-color-accent: #D22856;
$toggles-color: #283645;
$btn-form-color: #2AAB6D;